.erro-message {
    color: red;
    margin-bottom: 10px;
}

.form-row {
    margin-bottom: 10px;
}

.login-form-container {
    margin: 0 auto;
    width: 780px;
    padding: 0px 10px 20px 10px;
    border: 1px solid #000;
}

h1 a {
    text-decoration: none;
    color: #000;
}